<h1>Hello, world!</h1>
<div class="col-md-8">
	<p>
		This is a simple excercise project. The task was to create a sentence parser tool which should take a sentence as an input and output it as an XML.<br />
		The sentence is broken into words, and each word is stored in <strong>&lt;word&gt;</strong> tag, which in turn are contained within <strong>&lt;sentence&gt;</strong> tags. <br />
		Words are sorted alphabetically in each sentence tag.
	</p>

	<p>
		Technologies used are:
	</p>
	<ul>
		<li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
		<li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
		<li><a href='https://webpack.github.io/'>Webpack</a> for building and bundling client-side resources</li>
		<li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
	</ul>
	<div class="alert alert-danger" role="alert">
		<p><strong>Warning!</strong> .NET Core 2.0 SDK is required to launch from VS 2017 in debug mode.</p>
	</div>
	<p>To get started, simply use the link to <strong>XML Parser</strong> on the left (navigation panel). Enter desired text into input panel and press button to parse text.</p>
	<p>
		Sample input:
	</p>
<pre>" Mary had a little lamb .

Peter called for the wolf , and Aesop came .

Cinderella likes shoes."</pre>
	<p>
		Expected output:
	</p>
<pre>
&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;text xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
  &lt;sentence&gt;
    &lt;word&gt;a&lt;/word&gt;
    &lt;word&gt;had&lt;/word&gt;
    &lt;word&gt;lamb&lt;/word&gt;
    &lt;word&gt;little&lt;/word&gt;
    &lt;word&gt;Mary&lt;/word&gt;
  &lt;/sentence&gt;
  &lt;sentence&gt;
    &lt;word&gt;Aesop&lt;/word&gt;
    &lt;word&gt;and&lt;/word&gt;
    &lt;word&gt;called&lt;/word&gt;
    &lt;word&gt;came&lt;/word&gt;
    &lt;word&gt;for&lt;/word&gt;
    &lt;word&gt;Peter&lt;/word&gt;
    &lt;word&gt;the&lt;/word&gt;
    &lt;word&gt;wolf&lt;/word&gt;
  &lt;/sentence&gt;
  &lt;sentence&gt;
    &lt;word&gt;Cinderella&lt;/word&gt;
    &lt;word&gt;likes&lt;/word&gt;
    &lt;word&gt;shoes&lt;/word&gt;
  &lt;/sentence&gt;
&lt;/text&gt;
</pre>
</div>